<h2>Orders</h2>

{{#if this.model}}
{{#each this.model as |item|}}
{{!-- <OrderCard @item={{item}} as |name qty amount|>
    <h3>{{name}}</h3>
    <p>Qty: {{qty}}</p>
    <p>Total Amount: {{format-currency amount}}</p>
</OrderCard> --}}
{{order-card item}}
{{/each}}
{{else}}
<p>Order soon...</p>
{{/if}}


{{outlet}}